Flask>=3.0.0
deep-translator>=1.11.4
gTTS>=2.5.1
SpeechRecognition>=3.10.1
PyAudio>=0.2.14
langdetect>=1.0.9
transformers>=4.44.0
torch>=2.3.0
accelerate>=0.33.0
sentencepiece>=0.2.0
pydub>=0.25.1
openai>=1.50.0
python-dotenv>=1.0.1
